@media (max-width: 1184px) {
  .container {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  /* pictures 
    .left-bloc {
      height: 370px;
    }*/

  .right-bloc {
    width: 400px;
  }
}

@media (max-width: 1024px) {
  .container {
    height: 100%;
    width: 100%;
    margin: 0;
  }

  /* Naviguation */
  header nav span {
    display: none;
  }

  .naviguation-menu > div:nth-child(n + 7) {
    display: inherit;
  }

  /* pictures 
    .left-bloc {
      height: 370px;
    }*/

  .right-bloc {
    width: 33.33%;
  }

  /* Second section */
}

@media (max-width: 768px) {
  .container {
    height: 100%;
    width: 100%;
    margin: 1%;
  }

  .naviguation-header > a > span {
    display: none;
  }
  .burger-menu {
    display: inherit;
  }

  /* pictures */
  .left-bloc {
    margin: 20px -20px;
  }

  .right-bloc {
    display: none;
  }

  .menu-picture {
    display: none;
  }

  div.left-bloc {
    display: flex;
  }

  div.col-carrousel {
    flex-wrap: wrap;
  }
}
