/* --------------------------------------------- */
/* ------------------- GENERAL ----------------- */
/* --------------------------------------------- */
* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: TS-Reg, sans-serif;
}

.container {
  max-width: 1135px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-weight: bold;
  font-size: 3.3rem;
  text-align: start;
  font-family: TS-med;
}

h1 > span {
  color: #ff5d5d;
}

h2 {
  /*font-weight: bold; */
  font-size: 1.75rem;
  margin-top: 20px;
  font-family: TS-med;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  font-family: TS-med;
}

h4 {
  font-size: 1.5rem;
  font-family: TS-med;
}
h5 {
  font-size: 1.12rem;
  font-family: TS-med;
  margin-top: 5px;
  margin-bottom: 5px;
}

button {
  border: none;
  padding: 12px 15px;
  border-radius: 20px;
  background-color: black;
  color: white;
  font-size: 1rem;
  font-family: TS-med;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* --------------------------------------------- */
/* ------------------- HEADER ------------------ */
/* --------------------------------------------- */
header {
  position: sticky;
  z-index: 1000;
  top: 0;
  background-color: white;
  height: 80px;
  border-bottom: 1px solid #ff5d5d;
}

header > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

div#navbar nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

header a {
  text-decoration: none;
  color: black;
}

header img {
  height: 100%;
  object-fit: contain;
}

header nav a:hover {
  background-color: #f2f2f2;
  border-radius: 17px;
}
/* Icones / link nav for responsive */
.burger-menu {
  display: none;
}
i.icon-search {
  display: none;
}

main nav a:nth-child(6),
main nav a:nth-child(7) {
  display: none;
}

/* --------------------------------------------- */
/* -------------------- MAIN ------------------- */
/* --------------------------------------------- */
/* -- img rules for all content --*/
img {
  overflow: hidden;
}

img.img-hover:hover {
  filter: opacity(0.5);
  cursor: pointer;
}

/* -- First title with small text -- */

main p:first-of-type {
  color: #333;
  margin-top: 10px;
  margin-bottom: 30px;
}

main a:first-of-type {
  color: #333;
}

/* -- Second Nav in main -- */
main nav {
  display: flex;
  gap: 10px;
}

main nav > div {
  font-family: TS-med;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  margin-right: 5px;
  border: 1px solid black;
  border-radius: 12px;
  width: calc((100% - 50px) / 6);
}
.naviguation-menu > div:nth-child(n + 7) {
  display: none;
}

main nav > div:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.nav-filter {
  margin-bottom: 20px;
}
/* --------------------------------------------- */
/* --------- FIRST PART with the 3 img --------- */
/* --------------------------------------------- */
.pictures {
  height: 430px;
  margin-top: 26px;
  display: flex;
  gap: 2px;
}
.pictures img {
  object-fit: cover;
}
.pictures > .left-bloc {
  position: relative;
  display: flex;
  flex: 1;
  width: 100%;
}

.pictures > .left-bloc > div {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 8px;
  bottom: 16px;
  left: 16px;
  border-radius: 30px;
  gap: 5px;
  font-size: 12px;
  color: white;
}

.pictures > .left-bloc > div:hover {
  background-color: #333333;
  cursor: pointer;
}

.pictures > .right-bloc img {
  height: 100%;
  width: 100%;
}

.pictures > .right-bloc {
  display: flex;
  flex-direction: column;
  width: 480px;
  object-fit: cover;
}

.pictures > .right-bloc img {
  height: calc(50% - 1px);
}

.pictures > .right-bloc img:last-child {
  margin-top: 2px;
}

/* -- Menu under the 3 img -- */
.menu-picture {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.menu-picture > div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 12px;
}

.menu-picture div:nth-child(1) span:hover {
  text-decoration: underline;
  color: #717171;
  cursor: pointer;
}

.menu-picture div:nth-child(1) i:last-child:hover {
  color: #717171;
  cursor: pointer;
}
/* --------------------------------------------- */
/* ----------------- SECOND PART --------------- */
/* --------------------------------------------- */
.second-section {
  padding-top: 20px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.column1 {
  padding-right: 150px;
  width: 60%;
}

.column1 h2 {
  height: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}

.column1 p {
  text-align: justify;
  margin-right: 70px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 22px;
  line-height: 25px;
}

.column2 {
  width: 40%;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.column2 div.text-desc {
  background-color: #ff5d5d;
  padding: 30px;
  gap: 30px;
}

.column2 p {
  padding-top: 20px;
  line-height: 20px;
}

.column2 div.div-img {
  height: 190px;
  object-fit: cover;
  background-image: url("../img/maps_cnuhsr.png");
  background-position: center;
  background-size: cover;
}
/* --------------------------------------------- */
/* --------- THIRD PART with carrousel --------- */
/* --------------------------------------------- */
.third-section {
  margin-bottom: 100px;
}

section.third-section h3 {
  margin-bottom: 30px;
}

.third-section-main {
  display: flex;
  margin-bottom: 80px;
}

.third-desc {
  flex: 1;
  padding: 10px;
}

.third-carrousel {
  flex: 3;
  display: flex;
  overflow-x: scroll;
  gap: 10px;
}
.third-carrousel > div {
  width: calc((100% - 30px) / 3);
  flex-shrink: 0;
  padding-bottom: 20px;
}

.third-carrousel > div:hover > h5 {
  text-decoration: underline;
}

.relativ-div {
  position: relative;
}

.third-carrousel > div img {
  object-fit: cover;
  width: 100%;
}

.circle {
  background-color: white;
  border: 8px solid white;
  border-radius: 100%;
  position: absolute;
  top: 10px;
  left: 210px;
}

.rating > i {
  color: #04aa6c;
}

/* icone TripAdvisor */
.ta2 {
  background-color: #36e1a1;
  border-radius: 20px 20px 6px 6px;
  width: 30px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 75%;
  left: 3%;
}

.icon-travelers_choice_badge {
  font-size: 30px;
}

.ta2 > span {
  font-family: TS-med;
  font-size: 10px;
}

/* --------------------------------------------- */
/* -------- THOURTH PART with carrousel -------- */
/* --------------------------------------------- */
.fourth-section {
  margin-bottom: 100px;
}
.fourth-carrousel {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  gap: 20px;
}

.col-carrousel {
  flex-shrink: 0;
  width: calc((100% - 30px) / 3);
}
.col-carrousel > img {
  aspect-ratio: 35/25;
  width: 100%;
  object-fit: cover;
}

.col-carrousel h5 {
  font-size: 18px;
}

.col-carrousel p {
  font-size: 14px;
}
.by-flex span {
  font-size: 14px;
}
.by-flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.by-flex > img {
  border-radius: 100%;
  height: 40px;
}

/* --------------------------------------------- */
/* ------------------- FOOTER ------------------ */
/* --------------------------------------------- */
footer {
  height: 120px;
  background-color: #faf1ed;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  text-decoration: none;
  color: #333;
  font-family: TS-med;
  font-weight: bold;
}

footer img {
  width: 40px;
  margin-left: 10px;
}

footer a > img:hover {
  rotate: 180deg;
  cursor: help;
}

/* --------------------------------------------- */
/* ----------------- RESPONSIVE ---------------- */
/* --------------------------------------------- */
