/* --------------------------------------------- */
/* ------------------- GENERAL ----------------- */
/* --------------------------------------------- */
* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: TS-Reg, sans-serif;
}

.container {
  max-width: 1135px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-weight: bold;
  font-size: 3.3rem;
  text-align: start;
  font-family: TS-med;
}

h1 > span {
  color: #ff5d5d;
}

h2 {
  /*font-weight: bold; */
  font-size: 1.75rem;
  margin-top: 20px;
  font-family: TS-med;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  font-family: TS-med;
}

h4 {
  font-size: 1.5rem;
  font-family: TS-med;
}
h5 {
  font-size: 1.12rem;
  font-family: TS-med;
  margin-top: 5px;
  margin-bottom: 5px;
}

button {
  border: none;
  padding: 12px 15px;
  border-radius: 20px;
  background-color: black;
  color: white;
  font-size: 1rem;
  font-family: TS-med;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* --------------------------------------------- */
/* ------------------- HEADER ------------------ */
/* --------------------------------------------- */
header {
  position: sticky;
  z-index: 1000;
  top: 0;
  background-color: white;
  height: 80px;
  border-bottom: 1px solid #ff5d5d;
}

header > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

div#navbar nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

header a {
  text-decoration: none;
  color: black;
}

header img {
  height: 100%;
  object-fit: contain;
}

header nav a:hover {
  background-color: #f2f2f2;
  border-radius: 17px;
}
/* Icones / link nav for responsive */
.search-menu {
  display: flex;
  gap: 10px;
}
.burger-menu {
  display: none;
}
i.icon-search {
  display: none;
}

main nav a:nth-child(6),
main nav a:nth-child(7) {
  display: none;
}

/* --------------------------------------------- */
/* -------------------- MAIN ------------------- */
/* --------------------------------------------- */
/* -- img rules for all content --*/
img {
  overflow: hidden;
}

img.img-hover:hover {
  filter: opacity(0.5);
  cursor: pointer;
}

/* -- First title with small text -- */

main p:first-of-type {
  color: #333;
  margin-top: 10px;
  margin-bottom: 30px;
}

main a:first-of-type {
  color: #333;
}

/* -- Second Nav in main -- */
main nav {
  display: flex;
  gap: 10px;
}

main nav > div {
  font-family: TS-med;
  display: flex;
  justify-content: space-between;
  padding: 12px 15px;
  border: 1px solid black;
  border-radius: 12px;
  width: calc((100% - 50px) / 6);
}
.naviguation-menu > div:nth-child(n + 7) {
  display: none;
}

main nav > div:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.nav-filter {
  margin-bottom: 20px;
}
/* --------------------------------------------- */
/* --------- FIRST PART with the 3 img --------- */
/* --------------------------------------------- */
.pictures {
  height: 430px;
  margin-top: 26px;
  display: flex;
  gap: 2px;
}
.pictures img {
  object-fit: cover;
}
.pictures > .left-bloc {
  position: relative;
  display: flex;
  flex: 1;
  width: 100%;
}

.pictures > .left-bloc > div {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 8px;
  bottom: 16px;
  left: 16px;
  border-radius: 30px;
  gap: 5px;
  font-size: 12px;
  color: white;
}

.pictures > .left-bloc > div:hover {
  background-color: #333333;
  cursor: pointer;
}

.pictures > .right-bloc img {
  height: 100%;
  width: 100%;
}

.pictures > .right-bloc {
  display: flex;
  flex-direction: column;
  width: 480px;
  object-fit: cover;
}

.pictures > .right-bloc img {
  height: calc(50% - 1px);
}

.pictures > .right-bloc img:last-child {
  margin-top: 2px;
}

/* -- Menu under the 3 img -- */
.menu-picture {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.menu-picture > div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 12px;
}

.menu-picture div:nth-child(1) span:hover {
  text-decoration: underline;
  color: #717171;
  cursor: pointer;
}

.menu-picture div:nth-child(1) i:last-child:hover {
  color: #717171;
  cursor: pointer;
}
/* --------------------------------------------- */
/* ----------------- SECOND PART --------------- */
/* --------------------------------------------- */
.second-section {
  padding-top: 20px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.column1 {
  padding-right: 150px;
  width: 60%;
}

.column1 h2 {
  height: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}

.column1 p {
  text-align: justify;
  margin-right: 70px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 22px;
  line-height: 25px;
}

.column2 {
  width: 40%;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.column2 div.text-desc {
  background-color: #ff5d5d;
  padding: 30px;
  gap: 30px;
}

.column2 p {
  padding-top: 20px;
  line-height: 20px;
}

.column2 div.div-img {
  height: 190px;
  object-fit: cover;
  background-image: url("../img/maps_cnuhsr.png");
  background-position: center;
  background-size: cover;
}
/* --------------------------------------------- */
/* --------- THIRD PART with carrousel --------- */
/* --------------------------------------------- */
.third-section {
  margin-bottom: 100px;
}

section.third-section h3 {
  margin-bottom: 30px;
}

.third-section-main {
  display: flex;
  margin-bottom: 80px;
}

.third-desc {
  flex: 1;
  padding: 10px;
}

.third-carrousel {
  flex: 3;
  display: flex;
  overflow-x: scroll;
  gap: 10px;
  scrollbar-width: none;
}
.third-carrousel > div {
  width: calc((100% - 30px) / 3);
  flex-shrink: 0;
  padding-bottom: 20px;
}

.third-carrousel > div:hover > h5 {
  text-decoration: underline;
}

.relativ-div {
  position: relative;
}

.third-carrousel > div img {
  object-fit: cover;
  width: 100%;
}

.circle {
  background-color: white;
  border: 8px solid white;
  border-radius: 100%;
  position: absolute;
  top: 10px;
  right: 10px;
}

.rating > i {
  color: #04aa6c;
}

/* icone TripAdvisor */
.ta2 {
  background-color: #36e1a1;
  border-radius: 20px 20px 6px 6px;
  width: 30px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.icon-travelers_choice_badge {
  font-size: 30px;
}

.ta2 > span {
  font-family: TS-med;
  font-size: 10px;
}

/* --------------------------------------------- */
/* -------- THOURTH PART with carrousel -------- */
/* --------------------------------------------- */
.fourth-section {
  margin-bottom: 100px;
}
.fourth-carrousel {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  gap: 20px;
  scrollbar-width: none;
}

.col-carrousel {
  flex-shrink: 0;
  width: calc((100% - 30px) / 3);
}
.col-carrousel > img {
  aspect-ratio: 35/25;
  width: 100%;
  object-fit: cover;
}

.col-carrousel h5 {
  font-size: 18px;
}

.col-carrousel p {
  font-size: 14px;
}
.by-flex span {
  font-size: 14px;
}
.by-flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.by-flex > img {
  border-radius: 100%;
  height: 40px;
}

/* --------------------------------------------- */
/* ------------------- FOOTER ------------------ */
/* --------------------------------------------- */
footer {
  height: 120px;
  background-color: #faf1ed;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  text-decoration: none;
  color: #333;
  font-family: TS-med;
  font-weight: bold;
}

footer img {
  width: 40px;
  margin-left: 10px;
}

footer a > img:hover {
  rotate: 180deg;
  cursor: help;
}

/* --------------------------------------------- */
/* ----------------- RESPONSIVE ---------------- */
/* --------------------------------------------- */

/* --------------- LAPTOP 1024PX --------------- */
@media (max-width: 1024px) {
  .naviguation-header a > span {
    display: none;
  }

  /* naviguation-menu */
  .naviguation-menu {
    flex-wrap: wrap;
  }

  .naviguation-menu > div {
    width: calc((100% - 60px) / 4);
  }
  .naviguation-menu > div:nth-child(n + 7) {
    display: inherit;
  }

  /* pictures */
  .pictures {
    height: 275px;
  }
  .left-bloc {
    flex: 1;
    margin-right: 2px;
  }
  .left-bloc > img {
    height: 100%;
    width: 100%;
  }
  .pictures > .right-bloc {
    width: 33.33%;
  }

  /* second section */
  section.second-section {
    display: flex;
    flex-direction: column;
  }

  .column1 {
    width: 100%;
    padding-right: 0px;
  }

  .column2 {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .text-desc {
    width: 50%;
  }

  .column2 div.div-img {
    width: 50%;
    height: auto;
  }

  /* third section */
  .third-carrousel > div {
    width: calc((100% - 30px) / 2.5);
  }
}

/* --------------- TABLET 768 PX --------------- */
@media (max-width: 768px) {
  .naviguation-header a,
  .naviguation-header button {
    display: none;
  }

  .search-menu a,
  .search-menu i,
  .burger-menu {
    display: inherit;
  }

  .naviguation-menu {
    flex-wrap: nowrap;
    overflow: scroll;
    scrollbar-width: none;
  }

  main nav > div {
    width: fit-content;
    flex-shrink: 0;
  }

  /* pictures */
  div.pictures > .left-bloc {
    margin: 20px -20px;
  }

  div.pictures > .right-bloc {
    display: none;
  }

  .menu-picture {
    display: none;
  }

  div.left-bloc {
    display: flex;
  }

  div.col-carrousel {
    flex-wrap: wrap;
  }

  /* Second part */
  .second-section > .column2 {
    width: 100%;
    flex-direction: column;
  }

  .second-section .text-desc {
    width: 100%;
  }
  .column2 div.div-img {
    width: 100%;
    min-height: 200px;
  }

  /* --------------- Mobile 425 PX --------------- */
  @media (max-width: 425px) {
    .naviguation-header a,
    .naviguation-header button {
      display: none;
    }

    .search-menu a,
    .search-menu i,
    .burger-menu {
      display: inherit;
    }

    .naviguation-menu {
      flex-wrap: nowrap;
      overflow: scroll;
      scrollbar-width: none;
    }

    nav.naviguation-menu div {
      flex-shrink: 0;
      width: fit-content;
      gap: 10px;
    }

    /* pictures */
    div.pictures > .left-bloc {
      margin: 20px -20px;
    }

    div.pictures > .right-bloc {
      display: none;
    }

    .menu-picture {
      display: none;
    }

    div.left-bloc {
      display: flex;
    }

    div.col-carrousel {
      flex-wrap: wrap;
    }

    .column1 p {
      margin-right: 0;
    }

    /* Second part */
    .second-section > .column2 {
      width: 100%;
      flex-direction: column;
    }

    .second-section .text-desc {
      width: 100%;
    }
    .column2 div.div-img {
      width: 100%;
      min-height: 200px;
    }
    /* third section */
    .third-carrousel > div {
      width: calc((100% - 30px) / 1.5);
    }
    .third-section {
      margin-bottom: 0;
    }
    .third-section-main {
      flex-direction: column;
      gap: 5px;
      margin-bottom: 0;
    }

    /* Fourth section */
    .fourth-section {
      margin-bottom: 30px;
    }
    .col-carrousel {
      width: calc((100%) / 1.5);
    }
  }
}
